h1{
  text-align: center;
  color: white;
  text-shadow:1px 3px 1px black;
}

.App {
  display: block;
  margin: auto;
}

.conversor {
  margin: 50px auto;
  background-color: rgb(198, 198, 198);
  
}